/* Write your CSS here */
.language-filter-item {
  list-style: none;
}
.language-btn {
  font-family: 'Roboto';
  font-size: 14px;
  color: #1e293b;
  border: 0px #ffffff;
  background-color:#ffffff ;
}

.language-btn:hover {
  background-color: #e0f2fe;
}

.active-btn {
  background-color: transparent;
  border: 1px solid #0284c7;
  border-radius: 16px;
  padding: 6px 16px;
  font-size: 14px;
  color: #0284c7;
  cursor: pointer;
  outline: none;
  margin: 0 6px;
  transition: all 0.2s ease;
}
